* {
  transition: all 0.3s ease-in-out;
}

body {
  background: linear-gradient(
    360deg,
    hsla(276, 53%, 51%, 1) 0%,
    hsla(25, 97%, 48%, 1) 100%
  );

  background: -moz-linear-gradient(
    360deg,
    hsla(276, 53%, 51%, 1) 0%,
    hsla(25, 97%, 48%, 1) 100%
  );

  background: -webkit-linear-gradient(
    360deg,
    hsla(276, 53%, 51%, 1) 0%,
    hsla(25, 97%, 48%, 1) 100%
  );

  padding: 0;
  margin: 0;
}

.registration-field {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  justify-content: center;
  gap: 6%;
}

.registration-field__input-class {
  border-radius: 30px;
}

.registration-field__button,
.button_fight,
.button_character,
.button_attack {
  padding: 3%;
  border-radius: 50px;
  border: 1px solid #d2893c;
  background-color: #ffff;
  cursor: pointer;
}

.registration-field__button:hover,
.button_fight:hover,
.button_character:hover,
.button_avatar:hover,
.button_edit:hover,
.button_save:hover,
.button_home:hover,
.button_home-page:hover,
.button_character-page:hover,
.button_attack:hover {
  background-color: #d2893c;
}

.button_fight,
.button_character {
  display: block;
  margin: 5% auto 5% auto;
}

.greeting_text {
  text-align: center;
  margin-bottom: 15%;
}

.tooltip {
  width: 30%;
  text-align: center;
  position: absolute;
  top: calc(100vh / 5);
  left: calc(30%);
  background-color: #d36115f2;
  padding: 5%;
  font-size: 25px;
  border-radius: 40px;
  opacity: 0;
  z-index: -1;
}

.character-name::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #d2893c;
  display: block;
}

.character-img,
.enemy-img {
  max-width: 480px;
  width: 100%;
  /* max-height: 540px; */
}

.background {
  width: 100%;
  height: 100vh;
  background-color: #000000bd;
  position: absolute;
  top: 0;
}

.character-page {
  display: flex;
}

.count-of-wins {
  color: #10d717;
}

.count-of-loses {
  color: #851a07;
}

.button_avatar,
.button_edit,
.button_save,
.button_home {
  padding: 5%;
  border-radius: 40px;
  border: #d2893c 1px solid;
  cursor: pointer;
  margin: 3%;
}

.button_save {
  padding: 2%;
}

.choose-character-img {
  max-width: 280px;
  max-height: 340px;
  cursor: pointer;
}

.select-field {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: #d1bdbd;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 1%;
  row-gap: 2%;
  position: relative;
}

.input-for-img[type="radio"] {
  position: fixed;
  left: -100px;
  top: -100px;
  opacity: 0;
}

.wrapper-for-img {
  position: relative;
}

.input-for-img:checked + .wrapper-for-img::after {
  content: "";
  background-image: url(./assets/img/check.png);
  display: block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.cross {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #fff;
  border-radius: 50px;
  top: 3px;
  right: 3px;
  cursor: pointer;
}

.cross-span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 14px;
  left: 5px;
}

.cross-span:first-child {
  rotate: 45deg;
}

.cross-span:last-child {
  rotate: 135deg;
}

.cross:hover > .cross-span:first-child {
  transform: rotate(263deg);
}

.cross:hover > .cross-span:last-child {
  transform: rotate(90deg);
}

.edit-field,
.result-field {
  width: 40%;
  height: auto;
  background-color: #d1bdbd;
  position: relative;
  margin: auto;
  border-radius: 20px;
  margin-top: 20%;
}

.result-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-info {
  font-size: 35px;
}

.text-for-edit-field {
  padding: 6%;
}

.edit-input {
  margin-left: 6%;
}

.button_home-page,
.button_character-page {
  padding: 1%;
  margin: 3%;
  border-radius: 30px;
  border-bottom: #d2893c 1px solid;
  cursor: pointer;
  border: none;
}

.header::after {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  background-color: #f78205;
}

.character-name-fight {
  font-size: 25px;
  padding-left: 2%;
}

.health-line,
.low-health,
.normal-health {
  max-width: 480px;
  width: 100%;
  height: 20px;
  border-radius: 30px;
}

.low-health::-webkit-progress-value {
  background-color: rgb(246, 31, 16);
}

.health-line::-webkit-progress-value,
.normal-health::-webkit-progress-value {
  background-color: rgb(60, 246, 16);
}

.fight-block {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.attack-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: 20vh;
  justify-content: space-evenly;
}

.attack-zones {
  width: 100%;
  position: relative;
  display: flex;
  gap: 20%;
}

.attack-zones::after {
  content: "";
  width: 5px;
  height: 100%;
  display: block;
  top: 15px;
  right: 147px;
  background-color: #f78205;
  position: absolute;
}

.attack-input,
.defense-input {
  margin-left: 18%;
}

.defense-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  justify-content: space-evenly;
}

.button_attack {
  padding: 7%;
  margin-top: 20%;
  margin-left: 28%;
  font-size: 25px;
}

.separator {
  width: 100%;
  height: 5px;
  background-color: #000;
}

.process-of-fight {
  width: 90%;
  height: 20vh;
  overflow: scroll;
  margin: auto;
  border: 3px solid #ff9800;
  padding: 2%;
  border-top: none;
}

.attack-zone__label,
.defense-zone__label {
  cursor: pointer;
  padding: 4%;
  margin: 0 0 8% 0;
  width: 100%;
  height: auto;
  text-align: end;
}

.defense-zone__label {
  text-align: start;
}

.hero {
  color: rgb(60, 246, 16);
}

.enemy {
  color: rgb(246 31 16);
}

.item {
  color: #851a07;
}

.process-of-fight {
  font-size: 24px;
}
